* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

div {
    width: 100%;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 15px;
}

header a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    transition: font-size 0.3s ease, color 0.3s ease;
}

header a:hover {
    font-size: 36px;
    color: royalblue;
}

body {
    background-color: lightskyblue;
}

main {
    margin: 50px 200px 50px 200px;
}

.LoginAccountForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.LoginAccountForm input{
    border-radius: 20px;
}

.login-button, .set_password, .article_id_update  {
    display: inline-block;
    text-decoration: none;
    background-color: mediumvioletred;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
}

.login-button:hover, .set_password:hover, .article_id_update:hover {
    background-color: darkviolet;
}


.sport_topics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 15px;
    color: mediumvioletred;
}
/*.dropdown {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/

/*.dropdown-button {*/
/*    background-color: #007BFF;*/
/*    color: white;*/
/*    border: none;*/
/*    padding: 10px;*/
/*    cursor: pointer;*/
/*    font-size: 16px;*/
/*}*/

/*.dropdown-content {*/
/*    display: none;*/
/*    position: absolute;*/
/*    background-color: white;*/
/*    min-width: 160px;*/
/*    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);*/
/*    z-index: 1;*/
/*}*/

/*.dropdown-content a {*/
/*    color: black;*/
/*    padding: 12px 16px;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*}*/

/*.dropdown-content a:hover {*/
/*    background-color: #f1f1f1;*/
/*}*/

/*.dropdown:hover .dropdown-content {*/
/*    display: block;*/
/*}*/
