{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<div>
    <header>
        <a href="{% url 'main' %}">Главная страница</a>
        <a href="{% url 'create' %}">Создать новую статью</a>
        <a href="{% url 'topics' %}">Темы</a>
        <a href="{% url 'login' %}">Войти</a>
        <a href="{% url 'register' %}">Зарегистрироваться</a>
    </header>
    <main>
        {% block main %} {% endblock %}
    </main>
</div>

<div style="background-color: aqua">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>