{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<div>
    <header>
        <a href="{% url 'main' %}">Home</a>
        <a href="{% url 'create' %}">Create new article</a>
        <a href="{% url 'topics' %}">Sports</a>
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'register' %}">Sign in</a>
    </header>
    <br>
    <div class="sport_topics">
        {% for topic in topics %}
            <a href="{% url 'topic_id' topic.id %}">{{ topic.get_name_display }}</a>
        {% endfor %}
    </div>
    <main>
        {% block main %} {% endblock %}
    </main>
</div>

<div style="background-color: aqua">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>